In [6]:
#Library imports
import pandas as pd
import numpy as np
from tqdm import tqdm
import os
import matplotlib.pyplot as plt

#Makes Dataframes fit into window
pd.set_option('display.max_rows', 500)

#Directory location of files
string_loc = "/Users/Nicole/Documents/BAC Insight Team/Data/"

In [7]:
#Initialized array to be filled with every day's data file
days = []

#Walks through file directory looking for files in 2017
#Adds vetted data files into 'days' array
for root, dirs, file in os.walk(string_loc):
    #if len(file) > 50:
        for i in file:
            if i.endswith(".txt"):
                days.append(i)

#Sorts the array chronologically
days.sort()

In [8]:
days

['20170701.txt',
 '20170702.txt',
 '20170703.txt',
 '20170704.txt',
 '20170705.txt',
 '20170706.txt',
 '20170707.txt',
 '20170708.txt',
 '20170709.txt',
 '20170710.txt',
 '20170711.txt',
 '20170712.txt',
 '20170713.txt',
 '20170714.txt',
 '20170715.txt',
 '20170716.txt',
 '20170717.txt',
 '20170718.txt',
 '20170719.txt',
 '20170720.txt',
 '20170721.txt',
 '20170722.txt',
 '20170723.txt',
 '20170724.txt',
 '20170725.txt',
 '20170726.txt',
 '20170727.txt',
 '20170728.txt',
 '20170729.txt',
 '20170730.txt',
 '20170731.txt',
 '20170801.txt',
 '20170802.txt',
 '20170803.txt',
 '20170804.txt',
 '20170805.txt',
 '20170806.txt',
 '20170807.txt',
 '20170808.txt',
 '20170809.txt',
 '20170810.txt',
 '20170811.txt',
 '20170812.txt',
 '20170813.txt',
 '20170814.txt',
 '20170815.txt',
 '20170816.txt',
 '20170817.txt',
 '20170818.txt',
 '20170819.txt',
 '20170820.txt',
 '20170821.txt',
 '20170822.txt',
 '20170823.txt',
 '20170824.txt',
 '20170825.txt',
 '20170826.txt',
 '20170827.txt',
 '20170828.txt',
 '20170829.txt',
 '20170830.txt',
 '20170831.txt',
 '20170901.txt',
 '20170902.txt',
 '20170903.txt',
 '20170904.txt',
 '20170905.txt',
 '20170906.txt',
 '20170907.txt',
 '20170908.txt',
 '20170909.txt',
 '20170910.txt',
 '20170911.txt',
 '20170912.txt',
 '20170913.txt',
 '20170914.txt',
 '20170915.txt',
 '20170916.txt',
 '20170917.txt',
 '20170918.txt',
 '20170919.txt',
 '20170920.txt',
 '20170921.txt',
 '20170922.txt',
 '20170923.txt',
 '20170924.txt',
 '20170925.txt',
 '20170926.txt',
 '20170927.txt',
 '20170928.txt',
 '20170929.txt',
 '20170930.txt',
 '20171001.txt',
 '20171002.txt',
 '20171003.txt',
 '20171004.txt',
 '20171005.txt',
 '20171006.txt',
 '20171007.txt',
 '20171008.txt',
 '20171009.txt',
 '20171010.txt',
 '20171011.txt',
 '20171012.txt',
 '20171013.txt',
 '20171014.txt',
 '20171015.txt',
 '20171016.txt',
 '20171017.txt',
 '20171018.txt',
 '20171019.txt',
 '20171020.txt',
 '20171021.txt',
 '20171022.txt',
 '20171023.txt',
 '20171024.txt',
 '20171025.txt',
 '20171026.txt',
 '20171027.txt',
 '20171028.txt',
 '20171029.txt',
 '20171030.txt',
 '20171031.txt',
 '20171101.txt',
 '20171102.txt',
 '20171103.txt',
 '20171104.txt',
 '20171105.txt',
 '20171106.txt',
 '20171107.txt',
 '20171108.txt',
 '20171109.txt',
 '20171110.txt',
 '20171111.txt',
 '20171112.txt',
 '20171113.txt',
 '20171114.txt',
 '20171115.txt',
 '20171116.txt',
 '20171117.txt',
 '20171118.txt',
 '20171119.txt',
 '20171120.txt',
 '20171121.txt',
 '20171122.txt',
 '20171123.txt',
 '20171124.txt',
 '20171125.txt',
 '20171126.txt',
 '20171127.txt',
 '20171128.txt',
 '20171129.txt',
 '20171130.txt',
 '20171201.txt',
 '20171202.txt',
 '20171203.txt',
 '20171204.txt',
 '20171205.txt',
 '20171206.txt',
 '20171207.txt',
 '20171208.txt',
 '20171209.txt',
 '20171210.txt',
 '20171211.txt',
 '20171212.txt',
 '20171213.txt',
 '20171214.txt',
 '20171215.txt',
 '20171216.txt',
 '20171217.txt',
 '20171218.txt',
 '20171219.txt',
 '20171220.txt',
 '20171221.txt',
 '20171222.txt',
 '20171223.txt',
 '20171224.txt',
 '20171225.txt',
 '20171226.txt',
 '20171227.txt',
 '20171228.txt',
 '20171229.txt',
 '20171230.txt',
 '20171231.txt',
 '20180101.txt',
 '20180102.txt',
 '20180103.txt',
 '20180105.txt',
 '20180107.txt',
 '20180109.txt',
 '20180110.txt',
 '20180112.txt',
 '20180113.txt',
 '20180114.txt',
 '20180115.txt',
 '20180117.txt',
 '20180123.txt',
 '20180125.txt',
 '20180128.txt',
 '20180130.txt',
 '20180131.txt',
 '20180202.txt',
 '20180203.txt',
 '20180204.txt',
 '20180205.txt',
 '20180207.txt',
 '20180208.txt',
 '20180209.txt',
 '20180210.txt',
 '20180212.txt',
 '20180214.txt',
 '20180216.txt',
 '20180218.txt',
 '20180219.txt',
 '20180220.txt',
 '20180221.txt',
 '20180222.txt',
 '20180223.txt',
 '20180224.txt',
 '20180225.txt',
 '20180226.txt',
 '20180227.txt',
 '20180228.txt',
 '20180301.txt',
 '20180304.txt',
 '20180308.txt',
 '20180309.txt',
 '20180312.txt',
 '20180313.txt',
 '20180314.txt',
 '20180317.txt',
 '20180318.txt',
 '20180320.txt',
 '20180325.txt',
 '20180327.txt',
 '20180328.txt',
 '20180329.txt',
 '20180330.txt',
 '20180401.txt',
 '20180402.txt',
 '20180403.txt',
 '20180406.txt',
 '20180407.txt',
 '20180409.txt',
 '20180411.txt',
 '20180416.txt',
 '20180417.txt',
 '20180418.txt',
 '20180419.txt',
 '20180420.txt',
 '20180421.txt',
 '20180422.txt',
 '20180424.txt',
 '20180428.txt',
 '20180429.txt',
 '20180430.txt',
 '20180503.txt',
 '20180505.txt',
 '20180506.txt',
 '20180507.txt',
 '20180510.txt',
 '20180511.txt',
 '20180512.txt',
 '20180513.txt',
 '20180514.txt',
 '20180516.txt',
 '20180519.txt',
 '20180520.txt',
 '20180521.txt',
 '20180522.txt',
 '20180524.txt',
 '20180526.txt',
 '20180527.txt',
 '20180528.txt',
 '20180530.txt',
 '20180531.txt',
 '20180603.txt',
 '20180605.txt',
 '20180606.txt',
 '20180610.txt',
 '20180611.txt',
 '20180612.txt',
 '20180613.txt',
 '20180614.txt',
 '20180615.txt',
 '20180616.txt',
 '20180617.txt',
 '20180618.txt',
 '20180620.txt',
 '20180621.txt',
 '20180622.txt',
 '20180628.txt']

In [9]:
#Initialized array of dataframes
#'dataframes' contains dataframe of every day's data
#'adj_dataframes' contains modified dataframe of every day's data
dataframes = []
adj_dataframes = []

In [10]:
#Reads in every day's data in the 'days' array
#Appends the created Dataframe into the 'dataframes' array (the array holds Dataframe objects)
#(The 'dataframes' array maintains chronological order)
for day in days:
    df = pd.read_csv(string_loc + "/" + day[0:4] + "/" + day[4:6] + "/" + day, index_col = None, sep = ";")
    dataframes.append(df)

In [11]:
#Accepts a row's 'symbol_id' value to return the exchange
def exchange(symbol_id):
    index = symbol_id.find("SPOT")
    exchange = symbol_id[:index-1]
    return (exchange)

#Accepts a row's 'symbol_id' value to return the pair
def Pair(symbol_id):
    index = symbol_id.find("SPOT")
    pair = symbol_id[index+5:]
    return(pair)

In [12]:
#For every object in the 'dataframes' array, resets the index numbering to 0,1,2,3...
for df in dataframes:
    df.reset_index(drop=True, inplace=True)

In [13]:
#Inititalized arrays that hold a given Dataframe's pairs and exchange values in ARRAY FORM
#These arrays will hold other arrays
pair = []
exchanges = []

#Goes through every dataframe, finding each row's exchange and pair and storing them into a temporary array
#The calculated exchange and pair are appended into 'subPair' and 'subExchanges'
for d in dataframes:
    subPair = []
    subExchanges = []
    for row in d.itertuples():
        subPair.append(Pair(row[1]))
        subExchanges.append(exchange(row[1]))
        
    #After iterating through a dataframe, the temporary arrays are appended into 'pair' and 'exchanges'
    pair.append(subPair)
    exchanges.append(subExchanges)

In [14]:
#Goes through every dataframe and adds 'pair' and 'exchange' columns
for pairs, exchange, df in zip(pair, exchanges, dataframes):
    df["pair"] = pairs
    df["exchange"] = exchange

In [15]:
for df in dataframes:
    
    #Initializes two arrays that will hold a dataframe's start and end times for each row 
    start_times = []
    end_times = []
    
    #Sorts each day's dataframe in terms of 'symbol_id' and starting time
    df.sort_values(by = (["symbol_id", "time_period_start"]), inplace = True)
    
    #Converts the time columns into 'datetime' objects
    df.time_period_start = pd.to_datetime(df.time_period_start)
    df.time_period_end = pd.to_datetime(df.time_period_end)
    
    dt_start_times = list(df.time_period_start.values)
    dt_end_times = list(df.time_period_end.values)
    
    #Extracts just the hour in the 'start_time' column and appends it into the 'start_times' array
    for f in range(len(dt_start_times)):
        string = str(dt_start_times[f])
        substring = string[-18:-10]
        start_times.append(substring)
        
    #Extracts just the hour in the 'end_times' column and appends it into the 'end_times' array
    for e in range(len(dt_end_times)):
        string = str(dt_end_times[e])
        substring = string[-18:-10]
        end_times.append(substring)
        
    #Initializes arrays that will hold the values to be converted into a new Dataframe.    
    symbol_ids = np.array(df.symbol_id.values)
    Open = np.array(df.px_open.values)
    close = np.array(df.px_close.values)
    transactions = np.array(df.sx_cnt.values)
    base_volume = np.array(df.sx_sum.values)
    fiat_volume = base_volume * close
    pair = np.array(df.pair.values)
    exchanges = np.array(df.exchange.values)
 
    #Arrays converted into dictionary
    dictionary = {"name" : symbol_ids,
                   "exchange" : exchanges,
                   "pair" : pair,
                   "total_base_volume" : np.nan,
                   "total_dollar_volume" : np.nan,
                   "WAPP" : np.nan,
                   "start_time" : start_times,
                   "end_times" : end_times,
                   "open" : Open,
                   "close" : close,
                   "transactions" : transactions,
                   "base_volume" : base_volume,
                   "dollar_volume" : fiat_volume}
    
    #Dictionary converted Dataframe and vetted for 'BTC_USD' and 'BTC_USDT' only
    df2 = pd.DataFrame(dictionary)
    df2 = df2[((df2.pair.str.startswith("BTC_USD")))]
    df2.reset_index(drop=True, inplace=True)
    
    #Appends the newly creted Dataframe into the 'adj_dataframes' array
    adj_dataframes.append(df2)

In [16]:
# create dataframe with daily close price at time 00:00:00
close_df = []
for df in adj_dataframes:
    close_time = (df['end_times'] == '00:00:00')
    temp_df = df[close_time]
    close_df.append(temp_df)

In [17]:
close_df[1]

,WAPP,base_volume,close,dollar_volume,end_times,exchange,name,open,pair,start_time,total_base_volume,total_dollar_volume,transactions
23,NaN,761.881959,2445.100000,1.862878e+06,00:00:00,BITFINEX,BITFINEX_SPOT_BTC_USD,2437.200000,BTC_USD,23:00:00,NaN,NaN,1436
47,NaN,487.493214,2504.370000,1.220863e+06,00:00:00,BITSTAMP,BITSTAMP_SPOT_BTC_USD,2509.990000,BTC_USD,23:00:00,NaN,NaN,731
71,NaN,64.345557,2438.000000,1.568745e+05,00:00:00,BITTREX,BITTREX_SPOT_BTC_USDT,2422.000000,BTC_USDT,23:00:00,NaN,NaN,236
95,NaN,80.788881,2422.560000,1.957159e+05,00:00:00,BTC-E,BTC-E_SPOT_BTC_USD,2414.601000,BTC_USD,23:00:00,NaN,NaN,725
116,NaN,21.640000,2508.390000,5.428156e+04,00:00:00,BTCX,BTCX_SPOT_BTC_USD,2517.580000,BTC_USD,23:00:00,NaN,NaN,51
140,NaN,463.281810,2516.660000,1.165923e+06,00:00:00,COINBASE,COINBASE_SPOT_BTC_USD,2517.010000,BTC_USD,23:00:00,NaN,NaN,1679
170,NaN,10.185768,2540.000000,2.587185e+04,00:00:00,EXMO,EXMO_SPOT_BTC_USD,2534.990000,BTC_USD,23:00:00,NaN,NaN,59
178,NaN,150.250000,2558.800000,3.844597e+05,00:00:00,GATECOIN,GATECOIN_SPOT_BTC_USD,2558.700000,BTC_USD,23:00:00,NaN,NaN,72
202,NaN,17.190000,2438.960000,4.192572e+04,00:00:00,HITBTC,HITBTC_SPOT_BTC_USDT,2437.750000,BTC_USDT,23:00:00,NaN,NaN,105
221,NaN,0.007100,2515.560000,1.786048e+01,00:00:00,ITBIT,ITBIT_SPOT_BTC_USD,2515.560000,BTC_USD,23:00:00,NaN,NaN,1
245,NaN,322.959392,2505.571000,8.091977e+05,00:00:00,KRAKEN,KRAKEN_SPOT_BTC_USD,2509.996000,BTC_USD,23:00:00,NaN,NaN,756
269,NaN,358.682196,2669.810000,9.576133e+05,00:00:00,LAKEBTC,LAKEBTC_SPOT_BTC_USD,2667.790000,BTC_USD,23:00:00,NaN,NaN,717
293,NaN,70.833000,2581.000000,1.828200e+05,00:00:00,OKCOIN_USD,OKCOIN_USD_SPOT_BTC_USD,2562.810000,BTC_USD,23:00:00,NaN,NaN,322
317,NaN,484.149629,2435.143252,1.178974e+06,00:00:00,POLONIEX,POLONIEX_SPOT_BTC_USDT,2439.037207,BTC_USDT,23:00:00,NaN,NaN,1003

In [18]:
# subset 'BTC_USD' and 'BTC_USDT' pair transactions into two separate dataframes
usd_all_df = []
t_all_df = []
for df in close_df:
    temp_usd_df = df[df.pair == 'BTC_USD']
    usd_all_df.append(temp_usd_df)
    
    temp_t_df = df[df.pair == 'BTC_USDT']
    t_all_df.append(temp_t_df)

In [21]:
t_all_df[100]

,WAPP,base_volume,close,dollar_volume,end_times,exchange,name,open,pair,start_time,total_base_volume,total_dollar_volume,transactions
23,NaN,24.589105,4786.950000,117706.816180,00:00:00,BINANCE,BINANCE_SPOT_BTC_USDT,4760.50,BTC_USDT,23:00:00,NaN,NaN,432
106,NaN,147.029608,4775.700000,702169.299164,00:00:00,BITTREX,BITTREX_SPOT_BTC_USDT,4750.00,BTC_USDT,23:00:00,NaN,NaN,814
245,NaN,0.856414,4786.500000,4099.223840,00:00:00,EXMO,EXMO_SPOT_BTC_USDT,4752.00,BTC_USDT,23:00:00,NaN,NaN,37
315,NaN,21.770000,4782.170000,104107.840900,00:00:00,HITBTC,HITBTC_SPOT_BTC_USDT,4753.09,BTC_USDT,23:00:00,NaN,NaN,598
391,NaN,3.441445,4822.916041,16597.800344,00:00:00,LIQUI,LIQUI_SPOT_BTC_USDT,4802.00,BTC_USDT,23:00:00,NaN,NaN,286
439,NaN,166.557829,4787.657550,797421.846566,00:00:00,POLONIEX,POLONIEX_SPOT_BTC_USDT,4750.00,BTC_USDT,23:00:00,NaN,NaN,843

In [22]:
# only compare volume on the top 3 exchanges for each category
t_df = []
for df in t_all_df:
    exchange = (df.exchange == 'BINANCE') | (df.exchange == 'OKEX') | (df.exchange == 'HUOBIPRO')
    subset = df[exchange]
    t_df.append(subset)

In [23]:
t_df[50]

,WAPP,base_volume,close,dollar_volume,end_times,exchange,name,open,pair,start_time,total_base_volume,total_dollar_volume,transactions
23,NaN,69.475467,4086.29,283896.906047,00:00:00,BINANCE,BINANCE_SPOT_BTC_USDT,4151.14,BTC_USDT,23:00:00,NaN,NaN,243

In [32]:
usd_df[1].exchange.value_counts()

BITFINEX      1
BITSTAMP      1
OKCOIN_USD    1
ITBIT         1
EXMO          1
COINBASE      1
GATECOIN      1
BTC-E         1
BTCX          1
KRAKEN        1
LAKEBTC       1
Name: exchange, dtype: int64

In [204]:
# create list of dataframes containing the row with lowest close price for each day for BTC to USD
low_usd = []
for df in usd_df:
    low_usd_close = min(df.close)
    low_usd_row = df[df.close == low_usd_close]
    low_usd.append(low_usd_row)

In [205]:
# create list of exchanges with the lowest close each day for BTC to USD
low_usd_list = []
for df in low_usd:
    low_usd_list.append(df.exchange.values[0])

In [24]:
# create list of dataframes containing the row with lowest close price for each day for BTC to Tether
low_t = []
for df in t_df:
    try:
        low_t_close = min(df.close)
        low_t_row = df[df.close == low_t_close]
        low_t.append(low_t_row)
    except:
        low_t.append('None')

In [25]:
# create list of exchanges with the lowest close each day for BTC to Tether
low_t_list = []
for df in low_t:
    try:
        low_t_list.append(df.exchange.values[0])
    except:
        low_t_list.append('None')

In [26]:
low_t_list

['None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'OKEX',
 'OKEX',
 'OKEX',
 'OKEX',
 'OKEX',
 'BINANCE',
 'OKEX',
 'BINANCE',
 'BINANCE',
 'OKEX',
 'BINANCE',
 'BINANCE',
 'OKEX',
 'BINANCE',
 'OKEX',
 'OKEX',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'OKEX',
 'OKEX',
 'OKEX',
 'OKEX',
 'OKEX',
 'OKEX',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'OKEX',
 'OKEX',
 'BINANCE',
 'BINANCE',
 'HUOBIPRO',
 'HUOBIPRO',
 'HUOBIPRO',
 'OKEX',
 'HUOBIPRO',
 'BINANCE',
 'OKEX',
 'HUOBIPRO',
 'HUOBIPRO',
 'BINANCE',
 'BINANCE',
 'HUOBIPRO',
 'OKEX',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'OKEX',
 'OKEX',
 'OKEX',
 'BINANCE',
 'OKEX',
 'HUOBIPRO',
 'BINANCE',
 'BINANCE',
 'HUOBIPRO',
 'OKEX',
 'HUOBIPRO',
 'BINANCE',
 'BINANCE',
 'HUOBIPRO',
 'OKEX',
 'OKEX',
 'HUOBIPRO',
 'OKEX',
 'HUOBIPRO',
 'BINANCE',
 'BINANCE',
 'OKEX',
 'BINANCE',
 'BINANCE',
 'OKEX',
 'OKEX',
 'BINANCE',
 'OKEX',
 'BINANCE',
 'OKEX',
 'OKEX',
 'OKEX',
 'OKEX',
 'OKEX',
 'BINANCE',
 'OKEX',
 'OKEX',
 'OKEX',
 'BINANCE',
 'BINANCE',
 'OKEX',
 'BINANCE',
 'BINANCE',
 'HUOBIPRO',
 'OKEX',
 'OKEX',
 'HUOBIPRO',
 'BINANCE',
 'HUOBIPRO',
 'OKEX',
 'OKEX',
 'BINANCE',
 'OKEX',
 'BINANCE',
 'BINANCE',
 'HUOBIPRO',
 'BINANCE',
 'BINANCE',
 'BINANCE',
 'OKEX',
 'OKEX',
 'OKEX',
 'OKEX',
 'BINANCE',
 'BINANCE',
 'OKEX',
 'HUOBIPRO',
 'OKEX',
 'OKEX',
 'OKEX',
 'OKEX',
 'HUOBIPRO',
 'HUOBIPRO',
 'HUOBIPRO']

In [221]:
low_usd_list

['BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'OKCOIN_USD',
 'OKCOIN_USD',
 'BTC-E',
 'OKCOIN_USD',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'OKCOIN_USD',
 'BTC-E',
 'OKCOIN_USD',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'OKCOIN_USD',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'OKCOIN_USD',
 'BTC-E',
 'OKCOIN_USD',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'KRAKEN',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'KRAKEN',
 'KRAKEN',
 'KRAKEN',
 'ITBIT',
 'KRAKEN',
 'KRAKEN',
 'KRAKEN',
 'KRAKEN',
 'KRAKEN',
 'KRAKEN',
 'ITBIT',
 'KRAKEN',
 'BTCX',
 'BITSTAMP',
 'BITSTAMP',
 'BITSTAMP',
 'BTC-E',
 'BITSTAMP',
 'EXMO',
 'EXMO',
 'BTCX',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'EXMO',
 'BTC-E',
 'BTC-E',
 'BITSTAMP',
 'QUADRIGACX',
 'BTCX',
 'BITSTAMP',
 'BITSTAMP',
 'ITBIT',
 'BITSTAMP',
 'QUADRIGACX',
 'BTCX',
 'BTCX',
 'BTC-E',
 'OKCOIN_USD',
 'OKCOIN_USD',
 'OKCOIN_USD',
 'EXMO',
 'OKCOIN_USD',
 'OKCOIN_USD',
 'OKCOIN_USD',
 'OKCOIN_USD',
 'OKCOIN_USD',
 'BTC-E',
 'OKCOIN_USD',
 'BTCX',
 'OKCOIN_USD',
 'OKCOIN_USD',
 'QUADRIGACX',
 'BTCX',
 'BTCX',
 'BTCX',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'EXMO',
 'BTC-E',
 'BTC-E',
 'EXMO',
 'ITBIT',
 'QUADRIGACX',
 'BTC-E',
 'BITFINEX',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BITFINEX',
 'EXMO',
 'EXMO',
 'EXMO',
 'EXMO',
 'EXMO',
 'BITFINEX',
 'EXMO',
 'EXMO',
 'EXMO',
 'BTC-E',
 'EXMO',
 'EXMO',
 'EXMO',
 'BTC-E',
 'BITFINEX',
 'BTC-E',
 'BITFINEX',
 'BITFINEX',
 'BITFINEX',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'ITBIT',
 'BITFINEX',
 'BTC-E',
 'BITFINEX',
 'BITFINEX',
 'BITFINEX',
 'BTC-E',
 'BTC-E',
 'BITFINEX',
 'BTC-E',
 'BITFINEX',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BITFINEX',
 'BTC-E',
 'BTC-E',
 'BITFINEX',
 'BITFINEX',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'COINBASE',
 'ITBIT',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTC-E',
 'BTCX',
 'EXMO',
 'EXMO',
 'EXMO',
 'GATECOIN',
 'EXMO',
 'EXMO',
 'EXMO',
 'GATECOIN',
 'EXMO',
 'EXMO',
 'EXMO',
 'EXMO',
 'EXMO',
 'EXMO',
 'EXMO',
 'EXMO',
 'EXMO',
 'GATECOIN',
 'GATECOIN',
 'EXMO',
 'EXMO',
 'EXMO',
 'EXMO',
 'BITFINEX',
 'BITSTAMP',
 'COINBASE',
 'BITSTAMP',
 'ITBIT',
 'EXMO',
 'EXMO',
 'EXMO',
 'EXMO',
 'EXMO',
 'EXMO',
 'EXMO',
 'EXMO',
 'EXMO',
 'GATECOIN',
 'BITFINEX',
 'BITFINEX',
 'BITFINEX',
 'BITFINEX',
 'EXMO',
 'EXMO',
 'OKCOIN_USD',
 'OKCOIN_USD',
 'OKCOIN_USD',
 'OKCOIN_USD',
 'OKCOIN_USD',
 'GATECOIN',
 'OKCOIN_USD',
 'OKCOIN_USD',
 'OKCOIN_USD',
 'OKCOIN_USD',
 'OKCOIN_USD',
 'BITSTAMP',
 'OKCOIN_USD',
 'COINFLOOR',
 'COINFLOOR',
 'COINFLOOR',
 'COINFLOOR',
 'COINFLOOR',
 'ITBIT',
 'EXMO',
 'COINFLOOR',
 'COINFLOOR',
 'COINFLOOR',
 'COINFLOOR',
 'COINFLOOR',
 'COINFLOOR',
 'COINFLOOR',
 'COINFLOOR',
 'COINFLOOR',
 'EXMO',
 'EXMO',
 'COINFLOOR',
 'EXMO',
 'EXMO',
 'EXMO',
 'EXMO',
 'EXMO',
 'EXMO',
 'EXMO',
 'EXMO',
 'COINFLOOR',
 'EXMO',
 'COINFLOOR',
 'EXMO',
 'COINFLOOR',
 'EXMO',
 'EXMO',
 'EXMO',
 'COINFLOOR',
 'COINFLOOR',
 'EXMO',
 'EXMO',
 'COINFLOOR',
 'EXMO',
 'COINFLOOR',
 'COINFLOOR',
 'EXMO',
 'EXMO',
 'BITFINEX',
 'BITFINEX',
 'COINFLOOR',
 'BTCC',
 'EXMO',
 'COINFLOOR',
 'COINFLOOR',
 'COINFLOOR',
 'BITKONAN',
 'DSX',
 'EXMO',
 'COINFLOOR',
 'COINFLOOR',
 'COINFLOOR',
 'COINFLOOR',
 'COINFLOOR',
 'COINFLOOR',
 'COINFLOOR',
 'COINFLOOR',
 'EXMO',
 'BTCC',
 'EXMO',
 'EXMO',
 'KRAKEN',
 'BITFINEX',
 'COINBASE',
 'EXMO',
 'BITSTAMP',
 'DSX',
 'EXMO',
 'THEROCKTRADING',
 'BITFINEX',
 'KRAKEN',
 'BITSTAMP',
 'QUADRIGACX',
 'QUADRIGACX',
 'EXMO',
 'EXMO',
 'KRAKEN',
 'EXMO',
 'BITSTAMP',
 'COINFLOOR',
 'COINFLOOR',
 'EXMO',
 'BITFINEX',
 'BTCC',
 'KRAKEN',
 'BITFINEX',
 'BTCC',
 'BITFINEX',
 'DSX',
 'THEROCKTRADING',
 'BITKONAN',
 'BITFINEX',
 'DSX',
 'BITFINEX',
 'BITFINEX']

In [216]:
# Exchange that had the lowest close price most frequently for tether
max(low_t_list, key = low_t_list.count)

'HITBTC'

In [217]:
# Exchange that had the lowest close price most frequently for USD
max(low_usd_list, key = low_t_list.count)

'EXMO'

In [236]:
low_usd_df = pd.DataFrame(low_usd_list,columns=['Exchange'])

In [237]:
low_usd_df.head()

  Exchange
0    BTC-E
1    BTC-E
2    BTC-E
3    BTC-E
4    BTC-E

In [240]:
low_usd_df.Exchange.value_counts()

BTC-E             114
EXMO               79
COINFLOOR          37
BITFINEX           31
OKCOIN_USD         30
KRAKEN             15
BITSTAMP           14
BTCX               10
ITBIT               8
GATECOIN            6
QUADRIGACX          6
DSX                 4
BTCC                4
COINBASE            3
BITKONAN            2
THEROCKTRADING      2
Name: Exchange, dtype: int64

In [242]:
low_t_df = pd.DataFrame(low_t_list,columns=['Exchange'])
low_t_df.Exchange.value_counts()

HITBTC       89
BITTREX      63
POLONIEX     59
CRYPTOPIA    49
BINANCE      37
LIQUI        24
EXMO         21
None         17
OKEX          3
TIDEX         3
Name: Exchange, dtype: int64

In [219]:
binance_low = []
for i in low_t_list:
    if i == 'BINANCE':
        binance_low.append(True)
    else:
        binance_low.append(False)

In [ ]:
binance_low